html {
    font-size: 20px;
    line-height: 1.6;
    font-family: Roboto, sans-serif;
  }
  body {
    background-color: rgb(25, 29, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1{
    color: white;
  }
  
  img {
    width: 500px;
    max-width: 100%;
  }
  
  form {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  button {
    margin-left: 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    height: 35px;
    width: 100px;
  }
  input {
    background-color: black;
    color: white;
    border-radius: 50px;
    height: 30px;
  }
  div {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
  }